# Firebase Configuration
# Get these values from your Firebase project settings
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDV4VYcUS6FIBaNoNYk8uqi03pAkKfCtRQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=music-edc12.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=music-edc12
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=music-edc12.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=761089825359
NEXT_PUBLIC_FIREBASE_APP_ID=1:761089825359:web:797c03caf78970b262a83a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YGEJ5K897S

# Stripe Configuration
# Get these values from your Stripe dashboard (Test mode)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TJCwJJtejE9Vwrr2dWO7rT423Tk0SGOKSYKW1it0BVJVGRR2JnCwgSYdHbU6ONGaODpuHXNAps7uW4M3tLF9yeL00GRJHZK74
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_51234567890abcdef
NEXT_PUBLIC_BASE_URL=http://localhost:3000
