// SCSS variables
$sidebar-width: 200px;
$text-color: white;
$background-color: #0A0C0D;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: $text-color;
  background-color: $background-color;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, Inter Fallback;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-homeGradiant {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0)
  );
}

// CSS custom property for use in Tailwind classes
:root {
  --border-color: 0 0% 14.9%;
  --sidebar-width: #{$sidebar-width};
}

.gap-10px {
  gap: 10px;
}

.logo-text{
  font-size: 1.125rem;
}